body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #007BFF;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 20px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

video {
    margin: 20px 0;
    border: 5px solid #007BFF;
    border-radius: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}

#dynamic-content {
    font-size: 1.2em;
    margin-top: 20px;
    height: 30px; /* Adjust as necessary for your content */
}
