<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload a Video</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*" required>
        <input type="submit" value="Upload">
    </form>
    <div id="dynamic-content"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
